/* main {
    width: 95%;
    margin: 0 auto;
}
.column {
    width:96%;
    display: block;
    margin-left: 2%;
} 

html {
font-size: 13px;
}

html, body {
background-color: #ffffff;
}
body {
margin: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1rem;
font-weight: normal;
color: #404040;
}

h1 {
font-size: 4em;
margin: 0;
padding: 0;
}
*/
h1, h2{
text-align: center;
text-transform: uppercase;
}

/* @media screen and (min-width:920px) {
.column{
    width:30%;
    display: inline-block;
    margin-left: 2%;
}
} */